/* Light mode */
[data-md-color-scheme="default"] {
  --md-default-bg-color: #ffffff;
  --md-default-fg-color: #000000;
}

/* Dark mode (Tokyonight-style) */
[data-md-color-scheme="slate"] {
  --md-default-bg-color: #1a1b26;
  --md-default-fg-color: #c0caf5;
}
