:root {
  --md-default-bg-color: #0f1115;
  --md-default-fg-color: #e5e7eb;
  --md-code-bg-color: #111318;
  --md-accent-fg-color: #7aa2f7;
}

/* Round cards like Hyprland wiki */
.md-typeset .admonition,
.md-typeset details {
  border-radius: 8px;
}

